# Analysis

In [18]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Min-Conflicts Engine

In [19]:
from engine.minconflicts_engine import MinConflictsEngine

In [29]:
import datetime
# start
start_time = datetime.datetime.now()
# measure how long solving problems take time with respect to n
durations = []
steps = []
for n in range(0, 100):
    print(f'n: {n}')
    e = MinConflictsEngine(n=n)
    _ = e.solve()
    durations.append(e.debug_duration_seconds)
    steps.append(e.debug_steps)
    print(f'duration_seconds: {durations[-1]}, steps: {steps[-1]}')
# make DataFrame
d = {'duration_seconds': durations, 'steps': steps}
df = pd.DataFrame(d)
df.to_csv('./analysis/20201229_result.csv', index=None)
# end
end_time = datetime.datetime.now()
# total duration
print(f'total_duration_seconds: {(end_time - start_time).seconds}')
df

n: 0
duration_seconds: 0, steps: 0
n: 1
duration_seconds: 0, steps: 0
n: 2
duration_seconds: 0, steps: 1000
n: 3
duration_seconds: 0, steps: 1000
n: 4
duration_seconds: 0, steps: 22
n: 5
duration_seconds: 0, steps: 11
n: 6
duration_seconds: 0, steps: 1000
n: 7
duration_seconds: 0, steps: 1000
n: 8
duration_seconds: 0, steps: 293
n: 9
duration_seconds: 0, steps: 14
n: 10
duration_seconds: 0, steps: 48
n: 11
duration_seconds: 0, steps: 1000
n: 12
duration_seconds: 0, steps: 13
n: 13
duration_seconds: 0, steps: 161
n: 14
duration_seconds: 0, steps: 1000
n: 15
duration_seconds: 0, steps: 52
n: 16
duration_seconds: 0, steps: 554
n: 17
duration_seconds: 0, steps: 307
n: 18
duration_seconds: 0, steps: 124
n: 19
duration_seconds: 0, steps: 32
n: 20
duration_seconds: 0, steps: 138
n: 21
duration_seconds: 0, steps: 91
n: 22
duration_seconds: 0, steps: 37
n: 23
duration_seconds: 0, steps: 216
n: 24
duration_seconds: 0, steps: 37
n: 25
duration_seconds: 0, steps: 177
n: 26
duration_seconds: 4, steps: 1000
n: 27
duration_seconds: 0, steps: 34
n: 28
duration_seconds: 0, steps: 55
n: 29
duration_seconds: 6, steps: 1000
n: 30
duration_seconds: 0, steps: 108
n: 31
duration_seconds: 0, steps: 66
n: 32
duration_seconds: 0, steps: 63
n: 33
duration_seconds: 0, steps: 107
n: 34
duration_seconds: 7, steps: 1000
n: 35
duration_seconds: 8, steps: 1000
n: 36
duration_seconds: 10, steps: 1000
n: 37
duration_seconds: 1, steps: 123
n: 38
duration_seconds: 0, steps: 60
n: 39
duration_seconds: 0, steps: 63
n: 40
duration_seconds: 11, steps: 1000
n: 41
duration_seconds: 0, steps: 51
n: 42
duration_seconds: 1, steps: 134
n: 43
duration_seconds: 0, steps: 41
n: 44
duration_seconds: 0, steps: 66
n: 45
duration_seconds: 0, steps: 67
n: 46
duration_seconds: 0, steps: 43
n: 47
duration_seconds: 19, steps: 1000
n: 48
duration_seconds: 1, steps: 61
n: 49
duration_seconds: 1, steps: 89
n: 50
duration_seconds: 1, steps: 62
n: 51
duration_seconds: 2, steps: 130
n: 52
duration_seconds: 1, steps: 91
n: 53
duration_seconds: 2, steps: 133
n: 54
duration_seconds: 4, steps: 157
n: 55
duration_seconds: 30, steps: 1000
n: 56
duration_seconds: 2, steps: 96
n: 57
duration_seconds: 34, steps: 1000
n: 58
duration_seconds: 34, steps: 1000
n: 59
duration_seconds: 11, steps: 321
n: 60
duration_seconds: 4, steps: 119
n: 61
duration_seconds: 39, steps: 1000
n: 62
duration_seconds: 7, steps: 210
n: 63
duration_seconds: 3, steps: 94
n: 64
duration_seconds: 8, steps: 186
n: 65
duration_seconds: 50, steps: 1000
n: 66
duration_seconds: 8, steps: 208
n: 67
duration_seconds: 9, steps: 194
n: 68
duration_seconds: 13, steps: 254
n: 69
duration_seconds: 61, steps: 1000
n: 70
duration_seconds: 4, steps: 90
n: 71
duration_seconds: 4, steps: 86
n: 72
duration_seconds: 9, steps: 162
n: 73
duration_seconds: 10, steps: 164
n: 74
duration_seconds: 7, steps: 137
n: 75
duration_seconds: 83, steps: 1000
n: 76
duration_seconds: 6, steps: 104
n: 77
duration_seconds: 81, steps: 1000
n: 78
duration_seconds: 76, steps: 1000
n: 79
duration_seconds: 94, steps: 1000
n: 80
duration_seconds: 10, steps: 136
n: 81
duration_seconds: 16, steps: 201
n: 82
duration_seconds: 6, steps: 96
n: 83
duration_seconds: 104, steps: 1000
n: 84
duration_seconds: 9, steps: 113
n: 85
duration_seconds: 111, steps: 1000
n: 86
duration_seconds: 106, steps: 1000
n: 87
duration_seconds: 114, steps: 1000
n: 88
duration_seconds: 85, steps: 705
n: 89
duration_seconds: 122, steps: 1000
n: 90
duration_seconds: 129, steps: 1000
n: 91
duration_seconds: 29, steps: 274
n: 92
duration_seconds: 12, steps: 117
n: 93
duration_seconds: 141, steps: 1000
n: 94
duration_seconds: 13, steps: 126
n: 95
duration_seconds: 145, steps: 1000
n: 96
duration_seconds: 121, steps: 1000
n: 97
duration_seconds: 140, steps: 1000
n: 98
duration_seconds: 10, steps: 97
n: 99
duration_seconds: 166, steps: 1000
total_duration_seconds: 2395

    duration_seconds  steps
0                  0      0
1                  0      0
2                  0   1000
3                  0   1000
4                  0     22
5                  0     11
6                  0   1000
7                  0   1000
8                  0    293
9                  0     14
10                 0     48
11                 0   1000
12                 0     13
13                 0    161
14                 0   1000
15                 0     52
16                 0    554
17                 0    307
18                 0    124
19                 0     32
20                 0    138
21                 0     91
22                 0     37
23                 0    216
24                 0     37
25                 0    177
26                 4   1000
27                 0     34
28                 0     55
29                 6   1000
30                 0    108
31                 0     66
32                 0     63
33                 0    107
34                 7   1000
35                 8   1000
36                10   1000
37                 1    123
38                 0     60
39                 0     63
40                11   1000
41                 0     51
42                 1    134
43                 0     41
44                 0     66
45                 0     67
46                 0     43
47                19   1000
48                 1     61
49                 1     89
50                 1     62
51                 2    130
52                 1     91
53                 2    133
54                 4    157
55                30   1000
56                 2     96
57                34   1000
58                34   1000
59                11    321
60                 4    119
61                39   1000
62                 7    210
63                 3     94
64                 8    186
65                50   1000
66                 8    208
67                 9    194
68                13    254
69                61   1000
70                 4     90
71                 4     86
72                 9    162
73                10    164
74                 7    137
75                83   1000
76                 6    104
77                81   1000
78                76   1000
79                94   1000
80                10    136
81                16    201
82                 6     96
83               104   1000
84                 9    113
85               111   1000
86               106   1000
87               114   1000
88                85    705
89               122   1000
90               129   1000
91                29    274
92                12    117
93               141   1000
94                13    126
95               145   1000
96               121   1000
97               140   1000
98                10     97
99               166   1000

In [32]:
# describe
df = pd.read_csv('./analysis/20201229_result.csv')
df.describe()

       duration_seconds        steps
count        100.000000   100.000000
mean          23.550000   424.210000
std           42.134555   426.066654
min            0.000000     0.000000
25%            0.000000    88.250000
50%            4.000000   161.500000
75%           13.750000  1000.000000
max          166.000000  1000.000000